body {
  margin: 0;
}

#main-container {
  background-color: #6943ff;
  width: 550px;
  height: 285px;
  color: #ffffff;
  text-align: center;
}

#quantity {
  background-color: #6943ff;
  width: 117px;
  height: 87px;
  text-align: center;
  -moz-appearance: textfield;
  color: #ffffff;
  font-weight: bolder;
  font-size: 58px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  border: solid #ffffff 1px;
  border-radius: 5px;
}

#quantity::-webkit-outer-spin-button,
#quantity::-webkit-inner-spin-button {
  -webkit-appearance: none; /* Para Chrome, Safari y Edge */
  margin: 0;
}

#quantity,
#convert-button {
  display: block;
  margin: 10px auto; /* Añade un poco de espacio y lo centra */
}

#length,
#volume,
#mass {
  width: 500px;
  height: 108px;

  background-color: #ffffff;
  border-radius: 5px;
  font-family: inter;
  text-align: center;
  margin: 10px auto; /* Center the divs inside #conversions */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  color: #5a537b;
}

#mass {
  margin-bottom: 30px;
}

#conversions {
  width: 550px;

  background-color: #f4f4f4;

  text-align: center;
  padding-top: 20px;
}

.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 729px;
}

#conver-btn {
  width: 117px;
  height: 42px;
  color: #ffffff;
  border-radius: 5px;
  border: none;
  color: black;
}
